:root {
    --text-color: black;
    --link-color: blue;
    --background-color: rgb(240, 240, 221);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav .right a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    gap: 40px;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s;
}

.hero-section .headshot img {
    width: 300px;
    border-radius: 30%;
}

/* CONTACT FORM */
.contact-section form input,
.contact-section form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid grey;
    margin-bottom: 10px;
}

.contact-section form button {
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
